<div class="ui grid">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a (click)="onClick($event)" [ngClass]="segment == 'Video' ? 'active item' : 'item'">
        Video
      </a>
      <a (click)="onClick($event)" [ngClass]="segment == 'Audio' ? 'active item' : 'item'">
        Audio
      </a>
      <a (click)="onClick($event)" [ngClass]="segment == 'Text' ? 'active item' : 'item'">
        Text
      </a>
      <a (click)="onClick($event)" [ngClass]="segment == 'Draw' ? 'active item' : 'item'">
        Draw
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment" *ngIf="segment == 'Video'">
      <app-video-file-upload *ngIf="!uploadVideo" (uploaded)="videoUploaded($event)"
        (srcLocation)="srcVideoLocation($event)">
      </app-video-file-upload>
      <app-video-player *ngIf="uploadVideo" [sourceLocation] = 'srcVideoLocation'></app-video-player>
    </div>
    <div class="ui segment" *ngIf="segment == 'Audio'">
      <app-audio-player></app-audio-player>
    </div>
  </div>
</div>